trigger:
  branches:
    include:
      - main

# pool:
#   vmImage: 'ubuntu-latest'
pool: 
   name: Demo-Agent
   demands:
    - agent.name -equals demo-agent
    
variables:
  imageRepository: 'venkat7624/demojava'
  dockerfilePath: 'Dockerfile'
  manifestsPath: 'k8s' 

stages:
- stage: Build_and_Deploy
  jobs:
  - job: Build
    steps:
    - checkout: self
    - task: Maven@3
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'package'
        options: '-DskipTests'

    - task: Docker@2
      inputs:
        containerRegistry: 'demoapp-java'
        repository: '$(imageRepository)'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: '$(Build.BuildId)'

    - script: |
        echo "Pulling image: $(imageRepository):$(Build.BuildId)"
        docker pull $(imageRepository):$(Build.BuildId)

        echo "Running container on port 8080..."
        docker run -d -p 8080:8080 --name demo-java $(imageRepository):$(Build.BuildId)
      displayName: "Pull & Run Docker Image"


    # - task: Docker@2
    #   inputs:
    #     containerRegistry: 'demoapp-java'
    #     command: 'start'

# - stage: Deploy
#   dependsOn: Build
#   jobs:
#   - job: Deploy
#     steps:
#     - task: KubernetesManifest@1
#       inputs:
#         action: deploy
#         kubernetesServiceConnection: 'Kubernetes-Service-Connection'
#         manifests: '$(manifestsPath)/*.yaml'
#         containers: |
#           $(imageRepository):$(Build.BuildId)

