trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageRepository: 'venkat7624/demojava'
  dockerfilePath: 'Dockerfile'
  manifestsPath: 'k8s' 

stages:
- stage: Build
  jobs:
  - job: Build
    steps:
    - checkout: self
    - task: Maven@3
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'package'
        options: '-DskipTests'

    - task: Docker@2
      inputs:
        containerRegistry: 'demoapp-java'
        repository: '$(imageRepository)'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: '$(Build.BuildId)'

# - stage: Deploy
#   dependsOn: Build
#   jobs:
#   - job: Deploy
#     steps:
#     - task: KubernetesManifest@1
#       inputs:
#         action: deploy
#         manifests: $(manifestsPath)/*.yaml
#         containers: |
#           $(imageRepository):$(Build.BuildId)
